<div class="main-content">
    <div class="container-fluid">
        <div align="center"> <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
            Réglage de parametres
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">gérer parametres</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                             <form  #myform="ngForm">
                              mode: <select   name="mode" class="form-control" [(ngModel)]="parametre.mode"><option selected="selectionner">selectionner</option><option value="semi_automatique">semi_automatique</option><option value="automatique">automatique</option></select>
                             dispositif: <select   name="rep" class="form-control" [(ngModel)]="parametre.dispositive"><option selected="lampe">lampe</option><option selected="pompe">pompe</option><option selected="ventulateur">ventulateur</option></select>
                              repetition : <select   name="rep" class="form-control" [(ngModel)]="parametre.repetition"><option selected="aucune">aucune</option><option selected="quotidienne">quotidienne</option></select>
                              debut:  <input type="datetime-local"   name="date" class="form-control" [(ngModel)]="parametre.debut">
                               Durée <input type="number"   name="duree" class="form-control" [(ngModel)]="parametre.duree">
                               <div *ngIf="!selected"><button (click)="add()"
                                class="btn btn-danger">ajouter parametre</button>
                        </div>
                        <div *ngIf="selected"><button (click)="update()"
                                class="btn btn-success">Modifer</button>&nbsp;&nbsp;
                            <button (click)="unselect()" class="btn btn-warning">Annuler</button>
                        </div>
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Paramétre d'arrosage</h4>
                <p class="card-category">Choisissez la mode et le début</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Paramétres</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">

                                <th>
                                    Mode
                                </th>
                                <th>
                                    Début
                                </th>
                                <th>
                                    Durée
                                </th>
                                <th>
                                    Répétition
                                </th>
                                <th>
                                    Dispositive
                                </th>
                                <th>
                                    Action
                                </th>

                            </thead>
                            <tbody>
                                <tr *ngFor="let us of parametres">

                                    <td>
                                        {{us.mode}}
                                    </td>
                                    <td>
                                        {{us.debut}}
                                    </td>
                                    <td>
                                        {{us.duree}}
                                    </td>
                                    <td>
                                        {{us.repetition}}
                                    </td>
                                    <td>
                                        {{us.dispositive}}
                                    </td>
                                    <td class="text-primary">
                                        <button class="btn btn-outline-danger" (click)="supprimer(us.id)"><i
                                                class="material-icons">delete</i></button>

                                        &nbsp;&nbsp; <button class="btn btn-outline-success" (click)="select(us)"><i
                                                class="material-icons">visibility</i></button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>